:root
{
    --width: 1850px;
    --height: 1500px;
    --top: 30px;
}
.mainsettings
{
    margin-left: auto;
    margin-right: auto;
    width: var(--width);
    height: var(--height);
    
}
@font-face {
    font-family: 'NexaBold';
    src: url("../fonts/Nexa\ Bold.otf");
    font-weight: bold;
    
}
@font-face {
    font-family: 'NexaThin';
    src: url("../fonts/Nexa\ Light.otf");  
}
.bannerText{
    font-family: "NexaBold";
    font-size: 50px;
    color: white;
    position: absolute;
    top: 310px;
    left: 39%;
}
.LoginButton
{
    position:absolute;
    left: 50px;
}
.textHeader
{
    font-family: "NexaBold";
    font-size: 30px;
    color: rgb(255, 255, 255);
    
}
.logout
{
    position:absolute;
    margin-left: 100px;
}
.buttonayar
{
   font-family: "NexaBold";
}
.banner
{
    width: var(--width);
    height: 650px;
}
.textConcept
{
    font-family: "NexaThin";
    font-size: 16px;
    color: seashell;
    line-height: 1.6;
    max-width: 500px;
}
.header
{
    background-color: rgb(20, 20, 20);
    margin-left: auto;
    margin-right: auto;
    width: var(--width);
    height: 55px;
    border-radius: 10px;
}
.background
{
    background-color: black;
    width: var(--width);
    height: var(--height);
    border-radius: 15px;
    opacity: 0.7;
}
.logo
{
    
    background-repeat: no-repeat;
    margin-top: -53px;
    margin-left: 40px;
    width: 40px;
    height: 50px;
}

table.baslik
{
    margin-left: auto;
    margin-right: auto;
    color: silver;
    font-family: "NexaBold";
    font-size: 15px;
    border-style: none;
    border-collapse: separate;
    padding:15px;
    width: 650px;
    
}
.link
{
   color:rgb(255, 255, 255);
   text-decoration: none; 
   background-color: none;
}
#myVideo {
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    opacity: 0.5;
  }